.container__modal {
    background: rgba(61, 61, 61, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    position: fixed;
}

.box__modal {
    display: flex;
    flex-direction: column;
    width: 611px;
    padding: 56px 62px 41px 62px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: 'Rubik';
    font-style: normal;
    position: relative;
}

.div__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.title__modal {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.form_container {
    display: flex;
    flex-direction: column;
}

.type__box {
    display: flex;
    margin-bottom: 38px;
}

.box_style {
    width: 245px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

.box_style:hover {
    opacity: 0.9;
}

.gray_box {
    background: #B9B9B9;
}

.blue_box {
    background: #3A9FF1;
}

.red_box {
    background: #FF576B;
}

.form_container label {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #484848;
}

.form_container input,
.input_select {
    all: unset;
    padding: 21px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 5px;
    margin-bottom: 26px;
}

.form_container input:focus,
.input_select:focus {
    box-shadow: 2px 1px 3px #555555;
}

.category__label {
    position: relative;
}

.arrow_down_icon {
    width: 16px;
    height: 10px;
    position: absolute;
    top: 65px;
    right: 28px;
}

.value__label {
    margin-bottom: 10px;
}

.category__label,
.date__label,
.desc__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_confirm {
    border: none;
    width: 236px;
    height: 46px;
    background: #7978D9;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 124px;
}

.btn_confirm:hover {
    cursor: pointer;
    opacity: 0.9;
}