header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 100px 138px 100px;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

ul img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.username {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}