.container-table {
    display: flex;
    flex-direction: column;
    margin-left: 102px;
    background: #FAFAFA;
    width: 964px;
    border-radius: 10px;
    font-family: 'Lato';
    font-style: normal;
}

.titles-table {
    display: flex;
    padding: 21px 0px 17px 0px;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    position: relative;
}

.titles-table h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.titles-table img {
    margin-left: 2px;
    cursor: pointer;
    position: absolute;
    top: 28px;
    left: 60px;
}

.titles-table img:hover {
    transform: scale(1.5);
}

.date-title,
.transaction-date {
    width: 100px;
    padding-left: 27px;
}

.weekday-title,
.transaction-day {
    width: 200px;
    text-align: center;
}

.description-title,
.transaction-description {
    width: 220px;
    text-align: center;
}

.category-title,
.transaction-category {
    width: 180px;
    text-align: center;
}

.value-title,
.transaction-value {
    width: 120px;
    text-align: center;
}

.transaction {
    display: flex;
    align-items: center;
    margin-top: 26px;
    border-bottom: 1px solid #E0E0E0;
    color: #000000;
    position: relative;
    padding-bottom: 20px;
}

.transaction-date,
.transaction-value {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.transaction-day,
.transaction-description,
.transaction-category {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.edit-icon {
    position: relative;
    left: 48px;
    cursor: pointer;
}

.delete-icon {
    position: relative;
    left: 64px;
    cursor: pointer;
}

.edit-icon:hover,
.delete-icon:hover {
    transform: scale(1.2);
}

.entry-color {
    color: #7B61FF;
}

.exit-color {
    color: #FA8C10;
}

.modal__delete__transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 111px;
    height: 46px;
    font-weight: 300;
    background: #E4F2FD;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
}

.modal__delete__transaction h3 {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin-top: 7px;
}

.modal__delete__transaction button {
    border: none;
    width: 42px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 9px;
    color: #FFFFFF;
}

.modal__delete__transaction button:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
}

.modal__delete__transaction__button {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.modal__delete__transaction__yes {
    background: #3A9FF1;
}

.modal__delete__transaction__not {
    background: #FF576B;
}

.hidden {
    display: none;
}