.container-sign-up {
  background-image: url('../../assets/background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.content-sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 513px;
  padding: 61px 32px 17px 32px;
  margin-top: -75px;
  background-color: white;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

.content-sign-up h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #7978D9;
}

.content-sign-up form {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.container-inputs label {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #484848;
}

.container-inputs input {
  all: unset;
  width: 401px;
  max-height: 63px;
  padding: 21px 24px;
  border: 1px solid #555555;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.container-inputs input:focus {
  box-shadow: 2px 1px 3px #555555;
}

.button-form-sign-up {
  width: 449px;
  height: 52px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.text-link {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #7B61FF;
  cursor: pointer;
}